section {
    font-family: sans-serif;
    font-weight: 300px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-left: 125px;
    margin-top: 20px;
    padding: 15px;
    width: 75%;
    float: center;
}

.strikethrough {
    text-decoration: line-through;
}

.filter {
    width: 100%;
    font-size: 15px;
}

.x {
    display: block;
    float: right;
    border: none;
    background-color: white;
}

.complete {
    border-top: 5px;
    border-color:#ff69b4 ;
    color: #ff69b4;
    background-color: white;
    border-radius: 5px;
}

.new-todo {
    width: 100%;
    font-size: 15px;
}

.add {
    width: 100%;
    background-color: #ff1493;
    color: white;
    border: none;
    border-radius: 5px;
}