<body>
<section class="todo">

<h2>TODO List</h2>
 <h4> A place to store your to-dos </h4>

    <!--Angular Div-->
    <div>
    <input type="text" name="filter" [(ngModel)]="filter" placeholder="Filter your to-dos"/> 
    </div>
    
    <ol>
    <li *ngFor="let todo of getFilteredResults(); index as i">
        <button class="complete" (click)="completeTask(todo)" *ngIf="todo.completed===false">Complete</button> 
        <span [ngClass]="{ strikethrough: todo.completed }">{{todo.task}}</span> <button class="x" (click)="removeTask(task)"> X </button></li>
    </ol>

    <div>
        <input type="text" placeholder="Add your to-do">
        <button class="add" (click)="addTask(task)">Add</button>
    </div>

</section>
</body>
